{%extends "bases/base.html" %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Inicio{% endblock %}</title>
    {% block sign %}
    
    {% endblock %}

    {% block sesion %}
    {% if user.is_authenticated %}
        <a class="sign singin-btn btn-primary btn" href="{% url 'logout' %}" >Salir</a>
    {% else %}
     <a href="{% url 'login' %}" style="margin-right: 20%;" class="sign singin-btn btn-primary btn">Signin</a>
    {% endif %}
    {% endblock %}
</head>
{% block board %}
{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="sign singin-btn btn-primary btn" aria-current="page" href="/interfaz">Dashboard</a>
    </li>
{% endif %}
{% endblock %}
{% block lista %}
    <a class="nav-link sign singin-btn btn-primary btn" href="lista/">Productos</a>
{% endblock %}

<body >

    {% block contenido %}
    <div style="position: relative; text-align: center;">
    </div>
    <div>
        <h2 class="des text-center py-5" style="margin-top:50px;">Todos tus productos a precios unicos</h2>
        <p class="text-center " style="margin-top:20px; margin-left:20px; margin-right:20px; margin-bottom: 20px;">En nuestra veterinaria, nos dedicamos a ofrecer los mejores productos para el 
        cuidado de tus animales salvajes. Ya sea que tengas mascotas exóticas o 
        estés involucrado en la conservación de la vida silvestre, nuestro compromiso es 
        proporcionarte productos de alta calidad a precios excepcionales.
        Explora nuestra tienda y descubre una amplia gama de artículos que
        satisfarán las necesidades de tus amigos con escamas y colmillos </p>
    </div>
    </div>
    {% endblock %}
</body>
</html>