.background-container {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 255%;
    object-fit: cover; 
    z-index: -1; 
}

.content-container {
    position: relative;
    z-index: 1; 
}

.des {
    color: rgb(61, 55, 55);
    background-color: rgb(60, 126, 76); padding: 5px;
}

.h4 {
    color: green;
}

.mision-section {
    background-color: #80cfee;
    padding: 60px;
    margin-top: 0px;
}

.mision-section img {
    width: 70%;
    height: auto;
    padding-left: 140px;
}

.sobre-section {
    margin-top: 20px;
}


.vision-section img {
    position: absolute;
    right: 800px;
    top: 1010px;
    bottom: -550px;
}

.vision-section {
    background-color: #80cfee;
    padding: 60px;
    padding-bottom: 20px;
}


.iniciativa-section {
    margin-top: 20px;
    margin-bottom: 500px;
}
